<!DOCTYPE html>
<html	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
lang="en">
<head>
<meta charset="UTF-8" />
<title>Arbitragem</title>
<link rel="stylesheet" type="text/css" href="/misago/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/misago/css/style.css" />
<link rel="stylesheet" type="text/css" href="/misago/css/bootstrap-datepicker.standalone.min.css" />
</head>

<body>
	
	<nav class="navbar  navbar-static-top fixed-top bg-dark">
		<a class="navbar-brand" href="/dashboard">

    		Arbitragem
  		</a>
	</nav>
	
	<section layout:fragment="conteudo">
		<p>Conteúdo Principal</p>
	</section>

		<script type="text/javascript" src="/misago/js/jquery-3.2.1.min.js" ></script>	
		<script type="text/javascript" src="/misago/js/popper.min.js" ></script>	
		<script type="text/javascript" src="/misago/js/bootstrap.min.js" ></script>	
		<script type="text/javascript" src="/misago/js/bootstrap-datepicker.min.js" ></script>	
		<script type="text/javascript" src="/misago/js/bootstrap-datepicker.pt-BR.min.js" ></script>	
		<script type="text/javascript" src="/misago/js/bitcoin.js" ></script>
		
	</body>
</html>