<!DOCTYPE html>
<html	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorator="LayoutPadrao">
<head>
	<title>Orderbook</title>
	
	<link href="/misago/css/dashboard.css" rel="stylesheet" />
</head>

<section layout:fragment="conteudo">

	<div class="container-fluid">
      <div class="row">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="/misago/orderbook">Orderbook <span class="sr-only">(current)</span></a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="#ask">Orderbook ASK </a>
              <a class="nav-link" href="#bid">Orderbook BID </a>
            </li>
            
          </ul>

        </nav>

        <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">

          <h2>Orderbook ASK</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Locate</th>
                  <th>Exchange</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  <th>Total</th>
                  <th>ID</th>
                </tr>
              </thead>
              
              <tbody>
              
              	<tr th:each="orderbookAskVo : ${askList}">
                	<td th:text="${orderbookAskVo.locate}"></td>
                	<td th:text="${orderbookAskVo.exchange}"></td>
					<td th:text="${orderbookAskVo.price}"></td>
					<td th:text="${orderbookAskVo.quantity}"></td>
					<td th:text="${orderbookAskVo.orderTotal}"></td>
					<td th:text="${orderbookAskVo.id}"></td>
                </tr>
                
              </tbody>
              
            </table>
          </div>
          
          <h2>Orderbook BID</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Locate</th>
                  <th>Exchange</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  <th>Total</th>
                  <th>ID</th>
                </tr>
              </thead>
              
              <tbody>
              
              	<tr th:each="orderbookBidVo : ${bidList}">
                	<td th:text="${orderbookBidVo.locate}"></td>
                	<td th:text="${orderbookBidVo.exchange}"></td>
					<td th:text="${orderbookBidVo.price}"></td>
					<td th:text="${orderbookBidVo.quantity}"></td>
					<td th:text="${orderbookBidVo.orderTotal}"></td>
					<td th:text="${orderbookBidVo.id}"></td>
                </tr>
                
              </tbody>
              
            </table>
          </div>
          	
        </main>
      </div>
    </div>
	
</section>

</html>