<!DOCTYPE html>
<html	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorator="LayoutPadrao">
<head>
	<title>Orderbook</title>
	
	<link href="/misago/css/dashboard.css" rel="stylesheet" />
</head>

<section layout:fragment="conteudo">

	<div class="container-fluid">
	
        <main role="main">
       
        <div class="row">
       
         <div class="col">


          <div class="table-responsive">
          <h2>Orderbook ASK</h2>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Locate</th>
                  <th>Exchange</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  <th>Total</th>
                </tr>
              </thead>
              
              <tbody>
              
              	<tr th:each="orderbookAskVo : ${askList}">
                	<td th:text="${orderbookAskVo.locate}"></td>
                	<td th:text="${orderbookAskVo.exchange}"></td>
					<td th:text="${#numbers.formatDecimal(orderbookAskVo.price, 0, 'DEFAULT', 2, 'DEFAULT')}"></td>
					<td th:text="${orderbookAskVo.quantity}"></td>
					<td th:text="${#numbers.formatDecimal(orderbookAskVo.orderTotal, 0, 'DEFAULT', 2, 'DEFAULT')}"></td>
                </tr>
                
              </tbody>
              
            </table>
          </div>
          </div>
          
         <div class="col">
          
          <div class="table-responsive">
          <h2>Orderbook BID</h2>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Locate</th>
                  <th>Exchange</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  <th>Total</th>
                </tr>
              </thead>
              
              <tbody>
              
              	<tr th:each="orderbookBidVo : ${bidList}">
                	<td th:text="${orderbookBidVo.locate}"></td>
                	<td th:text="${orderbookBidVo.exchange}"></td>
					<td th:text="${#numbers.formatDecimal(orderbookBidVo.price, 0, 'DEFAULT', 2, 'DEFAULT')}"></td>
					<td th:text="${orderbookBidVo.quantity}"></td>
					<td th:text="${#numbers.formatDecimal(orderbookBidVo.orderTotal, 0, 'DEFAULT', 2, 'DEFAULT')}"></td>
                </tr>
                
              </tbody>
              
            </table>
          </div>
          </div>
          	
          </div>
        </main>
     
    </div>
	
</section>

</html>