<!DOCTYPE html>
<html	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorator="LayoutPadrao">
<head>
	<title>Ticker</title>
	
	<link href="/misago/css/dashboard.css" rel="stylesheet" />
</head>

<section layout:fragment="conteudo">

	<div class="container-fluid">
	
	 <main role="main">

          <h2>Ticker</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Locate</th>
                  <th>Exchange</th>
                  <th>High</th>
                  <th>Low</th>
                  <th>Vol</th>
                  <th>Last</th>
                  <th>Buy</th>
                  <th>Sell</th>
                  <th>Date</th>
                </tr>
              </thead>
              
              <tbody>
              
              	<tr th:each="tickerVo : ${tickers}">
                	<td th:text="${tickerVo.locate}"></td>
                	<td th:text="${tickerVo.exchange}"></td>
					<td th:text="${#numbers.formatDecimal(tickerVo.high, 0, 'DEFAULT', 2, 'DEFAULT')}"></td>
					<td th:text="${#numbers.formatDecimal(tickerVo.low, 0, 'DEFAULT', 2, 'DEFAULT')}"></td>
					<td th:text="${#numbers.formatDecimal(tickerVo.vol, 0, 'DEFAULT', 2, 'DEFAULT')}"></td>
					<td th:text="${#numbers.formatDecimal(tickerVo.last, 0, 'DEFAULT', 2, 'DEFAULT')}"></td>
					<td th:text="${#numbers.formatDecimal(tickerVo.buy, 0, 'DEFAULT', 2, 'DEFAULT')}"></td>
					<td th:text="${#numbers.formatDecimal(tickerVo.sell, 0, 'DEFAULT', 2, 'DEFAULT')}"></td>
					<td th:text="${tickerVo.date}"></td>
                </tr>
                
              </tbody>
              
            </table>
          </div>
          	
        </main>
      </div>
	
</section>

</html>